.button-injection-standard {
  /* Remove default button styles */
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

#x-close-button::before {
  content: "";
  display: inline-block;
  min-height: 10px;
  min-width: 10px;
  background-image: var(--x-image);
}

#x-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  /* Remove default button styles */
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.injection {
  font-feature-settings: normal;
}

.hidden {
  display: none !important;
}

#secondary-content {
  background: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}
#secondary-content #terms {
  padding: 5px;
}
#secondary-content .full-terms {
  color: #27798D;
  text-decoration: underline;
  margin-top: 10px;
}
#secondary-content #individual-terms-container {
  padding: 5px;
}
#secondary-content .special-terms {
  font-size: 14px;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}
#secondary-content .special-terms .title {
  font-size: 14px;
  color: #757575;
}
#secondary-content .special-terms .open-close button {
  font-weight: bold;
  text-align: right;
  color: #27798D;
  cursor: pointer;
}
#secondary-content .term {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  padding: 3px;
}
#secondary-content .term .term-text {
  color: #333333;
  flex: 1;
  max-width: 250px;
  margin-right: 5px;
  overflow-wrap: break-word;
}
#secondary-content .term .reward {
  color: #27798D;
  float: right;
}

a {
  cursor: pointer;
}

#slider {
  position: fixed;
  width: 375px;
  z-index: 2147483647;
  background: transparent;
  line-height: 1;
  transition: right 0.75s ease;
  right: -400px;
  font-size: 12px;
  color: #7b7b7b;
  display: flex;
  flex-direction: column;
}
#slider.slide {
  right: 10px;
}
#slider #secondary-content {
  background: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}
#slider #inner-slider {
  border-radius: 10px;
  padding: 1px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
#slider #inner-slider .copy-text {
  display: flex;
  justify-content: center;
  margin: 25px 10px 5px 10px;
  color: #333333;
  font-style: normal;
  letter-spacing: 0.25px;
  font-size: 16px;
  font-weight: 700;
}
#slider #inner-slider .copy-text-no-img {
  font-size: 16px;
  font-weight: 600;
}
#slider #inner-slider .copy-text-no-image {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
#slider #inner-slider #main-content {
  display: flex;
  flex-direction: column;
}
#slider #inner-slider #main-content .dismiss img {
  max-width: 15px;
  min-height: 15px;
}
#slider #inner-slider #conquest {
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 10px;
  border: 2.5px solid #FFF;
  background: #27798D;
}
#slider #inner-slider #conquest-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  cursor: pointer;
}
#slider #inner-slider #interaction {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
#slider #inner-slider #cta {
  margin: 16px;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  background: #27798D;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}
#slider #inner-slider #cta span {
  display: block;
  font-size: 12px;
}
#slider #inner-slider #cta.tall {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
#slider #inner-slider #cta.no-and {
  margin-bottom: 5px;
}
#slider #inner-slider #cta.no-and span {
  font-weight: normal;
  margin-top: 6px;
}
#slider #inner-slider #footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
}
#slider #inner-slider #footer #logo-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#slider #inner-slider #footer #logo-container #logo {
  max-width: 150px;
}
#slider #inner-slider #footer #dismiss-container {
  display: flex;
  align-items: center;
}
#slider #inner-slider #footer #dismiss-container .dismiss {
  color: #27798D;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
}

#slider {
  top: 10px;
}